<nav class="menu">
  <ul class="menu__inner menu__inner--desktop">

    {{ range $.Site.Menus.main }}
      {{ if not .HasChildren }}

        <li id="{{ .Identifier }}">
          {{ if .Pre }}{{ .Pre | safeHTML }}{{ end }}
          <a href="{{ .URL }}">{{ .Name }}</a>
          {{ if .Post }}{{ .Post | safeHTML }}{{ end }}
        </li>

      {{ else }}

        <ul id="{{ .Identifier }}" class="menu__sub-inner">
          <li class="menu__sub-inner-more-trigger">
            {{ if .Pre }}{{ .Pre | safeHTML }}{{ end }}
            {{ .Name }}
            {{ if .Post }}{{ .Post | safeHTML }}{{else}} ▾{{ end }}
          </li>

          <ul class="menu__sub-inner-more hidden">

            {{ range .Children }}
              <li id="{{ .Identifier }}">
                {{ if .Pre }}{{ .Pre | safeHTML }}{{ end }}
                <a href="{{ .URL }}">{{ .Name }}</a>
                {{ if .Post }}{{ .Post | safeHTML }}{{ end }}
              </li>
            {{ end }}

          </ul>
        </ul>

      {{ end }}
    {{ end }}

    <!--  Language Selector for Desktop  -->

    {{ if and $.Site.Params.showLanguageSelector (len $.Site.Home.AllTranslations) }}
    <div class="spacer"></div>
    <ul class="language-selector">
      <ul class="language-selector-current">
          <li>{{ .Language.LanguageName }} ▾</li>
      </ul>
      <ul class="language-selector__more hidden">
        {{ range $.Site.Home.AllTranslations }}
          <li><a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>
        {{ end }}
      </ul>
    </ul>
    {{ end }}
  </ul>

  <ul class="menu__inner menu__inner--mobile">
    {{ range $.Site.Menus.main }}

      {{ if not .HasChildren }}

        <li id="{{ .Identifier }}">
          {{ if .Pre }}{{ .Pre | safeHTML }}{{ end }}
          <a href="{{ .URL }}">{{ .Name }}</a>
          {{ if .Post }}{{ .Post | safeHTML }}{{ end }}
        </li>

      {{ else }}

        <ul id="{{ .Identifier }}" class="menu__mobile-sub">
          <li class="menu__mobile-sub-title">
            {{ if .Pre }}{{ .Pre | safeHTML }}{{ end }}
            {{ .Name }}
            {{ if .Post }}{{ .Post | safeHTML }}{{end}}
          </li>

          <ul class="menu__mobile-sub-inner">
            {{ range .Children }}
              <li id="{{ .Identifier }}">
                {{ if .Pre }}{{ .Pre | safeHTML }}{{ end }}
                <a href="{{ .URL }}">{{ .Name }}</a>
                {{ if .Post }}{{ .Post | safeHTML }}{{ end }}
              </li>
            {{ end }}
          </ul>
        </ul>

      {{ end }}
    {{ end }}

    {{ if and $.Site.Params.showLanguageSelector (len $.Site.Home.AllTranslations) }}
    <hr/>
      {{ range $.Site.Home.AllTranslations }}
        <li>
          <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
        </li>
      {{ end }}
    {{ end }}
  </ul>
</nav>
